apiVersion: apps/v1 # Defines the version of the API we are going to use
kind: Deployment # Defines the resource used
metadata:
  name: test-deployment  # Defines a name for that resource

## Defines a name to map it to other resources ##
##############################################################
spec:
  selector:
    matchLabels:
      app:  test-mlflow
  ##############################################################
  replicas: 2 # Tells deployment to run 2 pods matching the template

  ## Defines a template config for each Pod ##
  ############################################
  template:
    metadata:
      labels:
        app: test-mlflow # Name of each pod (an id will be added next to it)
        run: run-mlflow
    spec:
      containers:
        - name: mlflow-demo
          image:  # Path of the image registry
          env: # Defines Environment variables
            - name: PORT
              value: "8080"
          ports:
            - containerPort: 8080 # Define port mapping